.footer {
  margin: 20px;
}
.footer_content {
  display: flex;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
}
.footer_left h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.footer_left p {
  color: #9f9f9f;
  margin-top: 5px;
  display: block;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

.footer_right {
  padding: 20px;
  position: relative;
  right: 576px;
  bottom: 39px;
}
.footer_nav {
  display: flex;
  gap: 39px;
  justify-content: center;
  left: 523px;
}
.footer_nav a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  left: 523px;
}
.footer_bottom {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
  border-top: 1px solid #d9d9d9;
}

@media (max-width: 768px) {
  .footer_content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer_right .footer_nav {
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
  }
  .footer_left,
  .footer_right {
    right: 10px;
  }
}
